{% extends 'admin/_base.html.twig' %}

{% block content %}
    <h2>Ajouter un article</h2>

    {{ form_start(articleForm) }}
    <section class="admin-form">

        <div class="meli-admin-form-row">
            {{ form_errors(articleForm.title) }}
            {{ form_label(articleForm.title , 'Titre',{'label_attr': {'class': "meli-admin-form-label"}}) }}
            {{ form_widget(articleForm.title , {'attr': {'class': "meli-admin-form-field", 'placeholder': 'remplissez le titre...'}}) }}
        </div>


        <div class="meli-admin-form-row">
            {{ form_errors(articleForm.content) }}
            {{ form_label(articleForm.content, 'Description',{'label_attr': {'class': "meli-admin-form-label"}}) }}
            {{ form_widget(articleForm.content, {'attr': {'class': "form-field meli-admin-form-field", 'placeholder': 'remplissez la description'}}) }}
        </div>

        <div class="meli-admin-form-row">
            {{ form_errors(articleForm.date) }}
            {{ form_label(articleForm.date,'Date de publication',{'label_attr': {'class':"meli-admin-form-label" }}) }}
            {{ form_widget(articleForm.date, {'attr': {'class': "form-date meli-admin-form-field"}}) }}

        </div>

         <div class="meli-admin-form-row">
            {{ form_errors(articleForm.categorie) }}
            {{ form_label(articleForm.categorie, 'Catégories',{'label_attr': {'class':"meli-admin-form-label" }}) }}
            {{ form_widget(articleForm.categorie,{'attr': {'class': "form-cat meli-admin-form-field"}}) }}
        </div>

        <div>
            {{ form_errors(articleForm.published) }}
            {{ form_label(articleForm.published,"Publié ?",{"label_attr":{"class":"form-label"}}) }}
            {{ form_widget(articleForm.published) }}
        </div>

        <div>
            {{ form_errors(articleForm.image) }}
            {{ form_label(articleForm.image, 'Image',{'label_attr': {'class':"meli-admin-form-label" }}) }}
            {{ form_widget(articleForm.image) }}
        </div>



        <div class="meli-admin-form-submit">
            <button class="meli-admin-form-submit-btn">Enregistrer</button>
        </div>

        {{ form_end(articleForm) }}
    </section>
{% endblock %}